<!DOCTYPE html>
<html lang="en">
<head th:insert="~{common/head}"></head>
<body>
<div th:insert="~{common/navbar}"></div>

<div class="container container-big">

    <div class="m-4 text-center">
        <h2>Add dish</h2>
    </div>

    <form action="#" th:action="@{'/menu/system/dish-form'}" th:object="${dish}" method="post"
          enctype="multipart/form-data" class="container text-center">
        <div class="row justify-content-center">
            <div class="col-4">

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{fileName}">

<!--                Dish name-->
                <div class="form-outline mb-4">
                    <input type="text" th:field="*{name}" placeholder="name" class="form-control form-control-lg">
                </div>
                <div th:if="${#fields.hasErrors('name')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="'Name ' + ${err}" />
                    </ul>
                </div>

<!--                Price-->
                <div class="form-outline mb-4">
                    <input type="number"
                           th:field="*{price}"
                           placeholder="price"
                           class="form-control form-control-lg"
                           step="0.01"
                           min="0.01" max="1000">
                </div>
                <div th:if="${#fields.hasErrors('price')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="'Price ' + ${err}" />
                    </ul>
                </div>

<!--                Dish type-->
                <div class="form-outline mb-4">
                    <input type="text" th:field="*{type}" placeholder="type" class="form-control form-control-lg">
                </div>
                <div th:if="${#fields.hasErrors('type')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('type')}" th:text="'Type ' + ${err}" />
                    </ul>
                </div>

<!--                Dish description-->
                <div class="form-outline mb-4">
                    <input type="text" th:field="*{description}" placeholder="description" class="form-control form-control-lg">
                </div>
                <div th:if="${#fields.hasErrors('description')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="'Description ' + ${err}" />
                    </ul>
                </div>

                <!--Dish composition-->
                <div class="form-outline mb-4">
                    <input type="text" th:field="*{composition}" placeholder="composition" class="form-control form-control-lg">
                </div>
                <div th:if="${#fields.hasErrors('composition')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('composition')}" th:text="'Composition ' + ${err}" />
                    </ul>
                </div>

                <!-- Dish Image -->
                <div class="form-outline mb-4">
                    <input type="file" name="file" class="form-control form-control-lg">
                </div>



                <input type="submit" value="Confirm" class="btn btn-dark mb-1"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>