<nav class="navbar navbar-dark bg-dark fixed-top" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand">ASrestaurant</a>
        <ul class="navbar-nav justify-content-start text-end flex-grow-1 pe-3" th:if="${session.user}">
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${httpServletRequest.requestURI == ('/basket/' + session.user.basket.id) ? ' active' : ''}"
                   th:href="@{'/basket/'+ ${session.user.basket.id}}">
                    Basket
                    <i class="fa fa-shopping-basket" style=""></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ASrestaurant</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item" >
                        <a class="nav-link"
                           th:classappend="${httpServletRequest.requestURI == '/' ? ' active' : ''}"
                           href="/">Home</a>
                    </li>
                    <li class="nav-item" th:if="${session.user}">
                        <a class="nav-link"
                           th:classappend="${httpServletRequest.requestURI == '/menu' ? ' active' : ''}"
                           href="/menu">Menu</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"
                           th:classappend="${httpServletRequest.requestURI == '/about-us' ? ' active' : ''}"
                           href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item" th:if="${session.user}" sec:authorize="hasRole('DELIVERY')" >
                        <a class="nav-link"
                           th:classappend="${httpServletRequest.requestURI == '/orders' ? ' active' : ''}"
                           href="/orders">Orders</a>
                    </li>
                    <li class="nav-item" th:if="${session.user}" sec:authorize="hasRole('ADMIN')" >
                        <a class="nav-link"
                           th:classappend="${httpServletRequest.requestURI == '/menu/systems/addDish' ? ' active' : ''}"
                           href="/menu/systems/addDish">
                            Add dish
                            <i class="fas fa-pizza-slice"></i>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.user}">
                        <a class="nav-link"
                           th:classappend="${httpServletRequest.requestURI == ('/basket/' + session.user.basket.id) ? ' active' : ''}"
                           th:href="@{'/basket/'+ ${session.user.basket.id}}">
                            Basket
                            <i class="fa fa-shopping-basket" style=""></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown me-4" th:if="${session.user}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false"
                           th:text="'Hello, ' + ${session.user.username}">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <form action="#" th:action="@{/logout}" method="POST">
                                    <input type="submit" value="Logout" class="dropdown-item"/>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" th:unless="${session.user}">
                        <a class="nav-link" href="/showMyLoginPage">Log-in</a>
                    </li>
                    <li class="nav-item" th:unless="${session.user}">
                        <a class="nav-link"
                           href="/register/showRegistrationForm">Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
