<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:insert="~{common/head}">
</head>
<body class="d-flex flex-column h-100">


<div th:insert="~{common/navbar}"></div>

<div class="container container-big">
    <h1>Orders</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">User</th>
            <th scope="col">Details</th>
            <th scope="col">Delivered</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.user.firstName} + ' ' + ${order.user.lastName}"></td>
            <td><a th:href="@{/orders/{id}(id=${order.id})}" class="btn btn-primary">View Details</a></td>
            <td><a th:href="@{/orders/delivered(orderId = ${order.id})}" class="btn btn-success">Order Delivered</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{common/footer}"></div>

</body>
</html>
