<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/head}">
</head>
<body>

<div th:insert="~{common/navbar}"></div>



<div class="container container-big">
    <div th:unless="${session.user}">
        <h2>About us</h2>
        <p>We are the best restaurant in your city! Don't believe us? Make an order)</p>
        <p>Pleas, Log in/Register to see the menu and make orders!</p>
    </div>
    <div th:if="${session.user}">
        <h2>About us</h2>
        <p>We are the best restaurant in your city! Don't believe us? Make an order)</p>
        <p>Now you can make the order</p>
    </div>
</div>


</body>
</html>
