<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/head}">
</head>
<body>

<div th:insert="~{common/navbar}"></div>

<!-- Modal HTML -->
<div th:if="${param.modal}" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Thank you for your order!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">
                <p class="my-5">Wait for the message on your email when the order will be delivered.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-lg btn-dark w-60" data-bs-dismiss="modal">Great, thanks!</button>
            </div>
        </div>
    </div>
</div>


<div class="container container-big">

    <div class="m-4 text-center">
        <h2>Your basket</h2>
    </div>

    <div th:if="${!(basket.quantity == 0)}" class="text-center">
        <p class="fs-5 text-body-secondary">
            Check if your order is correct and fill the form to finish the order
        </p>
        <form id="orderForm" action="#" th:action="@{/orders}" th:object="${order}" method="post" class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <input type="hidden" name="userId" th:value="${basket.user.id}">
                    <div class="form-outline mb-4">
                        <input type="text" th:field="*{city}" placeholder="city" class="form-control form-control-lg">
                    </div>
                    <div th:if="${#fields.hasErrors('city')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('city')}" th:text="'City ' + ${err}" />
                        </ul>
                    </div>


                    <div class="form-outline mb-4">
                        <input type="text" th:field="*{address}" placeholder="address" class="form-control form-control-lg">
                    </div>
                    <div th:if="${#fields.hasErrors('address')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('address')}" th:text="'Address ' + ${err}" />
                        </ul>
                    </div>
                    <input type="submit" value="Confirm" class="btn btn-dark mb-1"/>
                </div>
            </div>
        </form>

    </div>


    <div th:if="${basket.quantity == 0}">
        <p class="fs-5 text-body-secondary">
            Your basket is empty. Choose some dishes and make a new order!)
        </p>
    </div>

    <hr/>

    <div class="mb-3">
        <div class="" th:text="'Number of dishes: ' + ${basket.quantity}"></div>
        <div class="" th:text="'Total price: $' + ${basket.totalPrice}"></div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div th:each="basketDish : ${basket.basketDishes}" class="col mb-4">
            <div class="card shadow-sm p-3">
                <img th:src="@{'/menu-pictures/' + ${basketDish.dish.fileName}}" class="card-img-top img-fluid"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${basketDish.dish.name}"></h5>
                    <p class="card-text" th:text="${basketDish.dish.description}"></p>
                    <p class="card-text" th:text="${basketDish.dish.composition}"></p>
                    <div class="row">
                        <div class="col">
                            <div class="fw-medium mb-2 " th:text="'Price: $' + ${basketDish.dish.price}"></div>
                            <div class="fw-medium" th:text="'You have ' + ${basketDish.quantity}">
                            </div>
                        </div>
                        <div class="col">
                            <form action="#" th:action="@{/basket/delete}" method="post">
                                <label>
                                    <input type="number"
                                           name="quantity"
                                           th:value="'1'"
                                           min="1"
                                           th:max="${basketDish.quantity}"
                                           class="form-control mb-2">
                                </label>
                                <input type="hidden" name="dishId" th:value="${basketDish.dish.id}">
                                <input type="hidden" name="basketId" th:value="${basket.id}">
                                <input type="submit" value="Delete dish" class="btn btn-outline-danger mt-1"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>