<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/head}"></head>
<body>

<div th:insert="~{common/navbar}"></div>

<div class="container container-big">
    <div th:unless="${session.user}">
        <h2>Welcome to ASrestaurant!</h2>
        <p>Pleas, Log in/Register to see the menu and make orders!</p>
    </div>
    <div th:if="${session.user}">
        <h2 th:text="'Glad to see you, ' + ${session.user.firstName}"></h2>
        <p>Now you can make the order</p>
    </div>
</div>

<div th:insert="~{common/footer}"></div>

</body>
</html>
